version: "3.0"
services:
  freeflowfeeds:
    restart: always
    build:
      context: .
    ports:
      - "0.0.0.0:8989:8989"
    environment:
      - FFF_FS_PATH="./data"
      - FFF_SERVER_HOST=0.0.0.0
      - FFF_MAX_CONCURRENCY=3
      - FFF_PUBLISH_INTERVAL=14400 # 4h
      - FFF_EFMAGAZIN_PAGE_TO=2
      - FFF_FREIHEITSFUNKEN_PAGE_TO=2
      - FFF_MISESDE_PAGE_TO=2

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - /root/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /ssl/liblit/:/ssl/liblit/
